.AllVacancy {
  padding: 30px 0;
  background-color: #ffffff;

  .inner {
    max-width: 1350px;
    margin: 0 auto;

    h3 {
      font-size: 30px;
      margin: 0 0 40px 0;
    }

    .search {
      display: flex;
      gap: 10px;

      .filter {
        max-width: 170px;
        border-radius: 100px;
        flex-shrink: 1;
        flex-grow: 1;
        background: #212529;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border: none;
        text-transform: capitalize;
        font-size: 16px;
      }

      .add_btn {
        padding: 10px 20px;
        min-width: 200px;
        border: 1px solid #4759ff;
        border-radius: 5px;
        background-color: #4759ff;
        color: white;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        text-align: center;
      }
    }

    .tableContainer {
      min-height: 670px;
      width: 100%;
      border-radius: 8px;
      overflow: hidden;
      padding: 50px 0;
    }

    .title {
      width: 600px !important;
      word-break: break-word;
      line-height: 1.6;
    }

    .customTable {
      width: 100%;
      border-collapse: collapse;
      text-align: left;
    }

    .customTable th,
    .customTable td {
      padding: 20px 15px;
      border-bottom: 1px solid #ddd;
    }

    .customTable th {
      background-color: #f4f6fa;
      font-weight: bold;
    }

    .actions {
      display: flex;
      gap: 10px;
      justify-content: flex-end;
    }

    .actionButton {
      background-color: red;
      border: none;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s;
      padding: 20px;
    }

    .actionButton:hover {
      background-color: rgb(249, 100, 100);
    }

    .actionButton svg {
      color: #6b7cff;
    }

    .pagination {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 20px;
      gap: 10px;

      button {
        border: none;
        background: none;
        font-size: 22px;
        color: #444;
        cursor: pointer;
        transition: color 0.3s;

        &.active {
          color: #f4a261;
          font-weight: bold;
        }

        &:hover:not(.active) {
          color: #888;
        }

        &:disabled {
          color: #ccc;
          cursor: default;
        }
      }
    }
  }
}

.box{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn_yes {
  padding: 5px 20px;
  width: 100px;
  border: 1px solid #4759ff;
  border-radius: 5px;
  background-color: #4759ff;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
}

.btn_no{
  padding: 10px 20px;
  min-width: 100px;
  border: 1px solid red;
  border-radius: 5px;
  background-color: red;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
}

.cont{
  margin: 10px 0;
  display: flex;
  gap: 5px;
  justify-content: center;
}