.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: center;

  a {
    color: white;
    text-decoration: none;
  }


  &:hover {
    color: #007bff;
  }

  .subtitle {
    font-size: 0.8rem;
    color: #ccc;
  }
}